<h1>Aquí debería ir un tutorial de Ruby on Rails </h1>


<canvas id="demoCanvas" width="1200" height="450"></canvas>
<script type="text/javascript">
var canvas, graphics;
function draw_init() {
	canvas = document.getElementById('demoCanvas');
	if (canvas.getContext) {
		graphics = canvas.getContext('2d');
	}
	draw();
}
function draw() {
	var theme = ["#10444B","#25AB00","#4AA684","#E2F0E6","#16FFE0"];
	var x = Math.random() * 1200;
	var y = Math.random() * 450;
	var size = (Math.random() * 100) + 20;
	var num_circles = (Math.random() * 10) + 2;
	for (var i = size; i > 0; i-= (size/num_circles)) {
		graphics.fillStyle = theme[ (Math.random() * 5 >> 0)];
		graphics.beginPath();
		graphics.arc(x, y, i * .5, 0, Math.PI*2, true); 
		graphics.closePath();
		graphics.fill();
	}
	t = setTimeout('draw()',100);
}
draw_init();
</script> 

       <%= content_for :menu do%>
       <%= link_to "beta", :controller=>"beta" %>
       <% end %>

 