<body>
  <header>    
       <h1>Beta - index - html</h1>
       <% content_for :menu do%>
       <% link_to "alpha", :controller=>"alpha" %>
       <% end %>
  </header>
  <a href="https://twitter.com/#!/ArturoGarzaVL" rel="met friend">jcb</a>
  <a href="https://twitter.com/#!/LaurethTEX" rel="met aquaintance">ltx </a>
  
</body>
